<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body" style="background-color: #FFFFCC;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h1 class="goal-new">目標設定</h1>
      <div class="center jumbotron jumbotron-fluid border" style="background-color: #FFFFFF;">
          <%= form_with(model: @goalData, local: true) do |form| %>
            <% if @goalData.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@goalData.errors.count, "error") %> 保存ができませんでした:</h2>
          
                <ul>
                <% @goalData.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
            <div class="field">
              <span style="vertical-align: top;"><%= form.label :ミッション %></span>
              <%= form.text_area :mission, id: :goal_mission, class: "w-50" %>
            </div>

            <div class="field mt-3">
              <%= form.label :'達成予定日(長期):' %>
              <%# if year == nil || month == nil || day == nil %>
                <%= form.datetime_select :l_goal_deadline_at, {:use_month_numbers => true, :start_year => Time.now.year, :end_year => Time.now.year + 10}, id: :goal_l_deadline %>
              <%# else %>
                <%#= form.datetime_select :start_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_start_date %>
              <%# end %>
            </div>
            <div class="field form-group">
              <span style="vertical-align: top;"><%= form.label :長期目標 %></span>
              <%= form.text_area :long_goal, id: :goal_long_goal, class: "w-50" %>
            </div>
          
            <div class="field">
              <%= form.label :'達成予定日(中期):' %>
              <%# if year == nil || month == nil || day == nil %>
                <%= form.datetime_select :m_goal_deadline_at, {:use_month_numbers => true, :start_year => Time.now.year, :end_year => Time.now.year + 10}, id: :goal_m_deadline %>
              <%# else %>
                <%#= form.datetime_select :start_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_start_date %>
              <%# end %>
            </div>
            <div class="field form-group">
              <span style="vertical-align: top;"><%= form.label :中期目標 %></span>
              <%= form.text_area :middle_goal, id: :goal_middle_goal, class: "w-50" %>
            </div>

            <div class="field">
              <%= form.label :'達成予定日(短期):' %>
              <%# if year == nil || month == nil || day == nil %>
                <%= form.datetime_select :s_goal_deadline_at, {:use_month_numbers => true, :start_year => Time.now.year, :end_year => Time.now.year + 10}, id: :goal_s_deadline %>
              <%# else %>
                <%#= form.datetime_select :start_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_start_date %>
              <%# end %>
            </div>            
            <div class="field form-group">
              <span style="vertical-align: top;"><%= form.label :短期目標 %></span>
              <%= form.text_area :short_goal, id: :goal_short_goal, class: "w-50" %>
            </div>

            <div class="actions">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>