<% provide(:title, '目標設定') %>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<style>
      .goal-title {
        color: white;
        padding: 0;
        margin: -21px;
        background-color: #4F78A4;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        position: relative;
        border-radius: 5px 5px 0 0;
        transition: .4s;
      }
      
      .set-goal  {
        color: white;
        padding: 2px 3px;
        /*margin: -21px;*/
        background-color: #4F78A4;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        position: relative;
        border-radius: 5px 5px 0 0;
        transition: .4s;
      }
      
      .title-custom {
        padding: 0.2em 0.5em;              /*文字の上下 左右の余白*/
        color: #FFFFFF;                    /*文字色*/
        background: #4F78A4;               /*背景色*/
        border-left: solid 5px #75A9FF;    /*#7db4e6;左線*/
        border-bottom: solid 3px #d7d7d7;  /*下線*/
      }
	  </style>
</head>

<!-- 目標設定 表示ページ -->
<div class="jumbotron-extend" style="background-color: #FFFFFF; margin-top: 5px;">
  <p id="notice"><%= notice %></p>

  <%= form_with(model: @goalData, url: line_send_message_path, local: true) do |form| %>
    <h4 class="title-custom">目標設定</h4>
    
    <div class="text-left">
      <%= link_to 'ミッション登録', goalset_editm_path, remote: true, class: "btn mt-2 ml-4 mb-4 btn-outline-primary rounded-pill btn-sm" %>
      <!-- デバック用送信ボタン -->
      <%#= form.submit 'LINEメッセージ送信',class: "btn mt-2 ml-2 mb-4 btn-outline-primary rounded-pill btn-sm" %>
    </div>
  
    <div class="center jumbotron border" style="background-color: #FFFFCC; padding: 0px; margin: 0px 20px;">
      <h4 class="set-goal text-left">マイミッション</h4>
      <h5 class="text-left ml-2 ml-sm-4">成し遂げたいことや、こう在りたいと思うこと</h5>
      <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 97%">
        <tbody>
            <tr style="background-color: #FFFFFF;">
              <td class="text-left" style="word-break: break-all;"><%= raw(h(@goalData.mission).gsub(/\R/, "<br>")) %></td>
              <td class="text-left w-25">設定日：<%= @goalData.mission_set_at.strftime('%Y-%m-%d') if @goalData.mission_set_at.present? %></td>
            </tr>
            <!--  <td><%#= params[:code] %></td>-->
        </tbody>
      </table>
    </div>
    
    <br></br>
    <hr style="height: 2px; background-color: silver; border: none;">
    
    <div class="text-left">
      <%= link_to '目標登録', goalset_editg_path, remote: true, class: "btn mt-2 ml-4 mb-4 btn-outline-primary rounded-pill btn-sm" %>
    </div>
    
    <div class="center jumbotron border" style="background-color: #FFFFCC; padding: 0px; margin: 0px 20px;">
      <h4 class="set-goal text-left">長期目標（5～10年後）</h4>
      <h5 class="text-left ml-2 ml-sm-4">目標達成日：<%= @goalData.l_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.l_goal_deadline_at.present? %></h5>
      <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 97%">
        <tbody>
            <tr style="background-color: #FFFFFF;">
              <td class="text-left" style="word-break: break-all;"><%= raw(h(@goalData.long_goal).gsub(/\R/, "<br>")) %></td>
              <td class="text-left w-25">設定日：<%= @goalData.l_goal_set_at.strftime('%Y-%m-%d') if @goalData.l_goal_set_at.present? %></td>
            </tr>
        </tbody>
      </table>
    </div>
    
    <h2 class="mt-2"><%= image_tag('yajirushi.png', :size => '36x40', class: "mr-1") %></h2>
  
    <div class="center jumbotron border" style="background-color: #FFFFCC; padding: 0px; margin: 0px 20px;">
      <h4 class="set-goal text-left">中期目標（2～3年後）</h4>
      <h5 class="text-left ml-2 ml-sm-4">目標達成日：<%= @goalData.m_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.m_goal_deadline_at.present? %></h5>
      <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 97%">
        <tbody>
            <tr style="background-color: #FFFFFF;">
              <td class="text-left" style="word-break: break-all;"><%= raw(h(@goalData.middle_goal).gsub(/\R/, "<br>")) %></td>
              <td class="text-left w-25">設定日：<%= @goalData.m_goal_set_at.strftime('%Y-%m-%d') if @goalData.m_goal_set_at.present? %></td>
            </tr>
        </tbody>
      </table>
    </div>
    
    <h2 class="mt-2"><%= image_tag('yajirushi.png', :size => '36x40', class: "mr-1") %></h2>
    
    <div class="center jumbotron border" style="background-color: #FFFFCC; padding: 0px; margin: 0px 20px;">
      <h4 class="set-goal text-left">短期目標（1年後）</h4>
      <h5 class="text-left ml-2 ml-sm-4">目標達成日：<%= @goalData.s_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.s_goal_deadline_at.present? %></h5>
      <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 97%">
        <tbody>
            <tr style="background-color: #FFFFFF;">
              <td class="text-left" style="word-break: break-all;"><%= raw(h(@goalData.short_goal).gsub(/\R/, "<br>")) %></td>
              <td class="text-left w-25">設定日：<%= @goalData.s_goal_set_at.strftime('%Y-%m-%d') if @goalData.s_goal_set_at.present? %></td>
            </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<!--モーダルウインドウ表示-->
<div id="goalset-editm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="goalset-editg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>