<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<style>
      .goal-title {
        color: white;
        padding: 0;
        margin: -21px;
        background-color: #4F78A4;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        position: relative;
        border-radius: 5px 5px 0 0;
        transition: .4s;
      }
      
      .set-goal  {
        color: white;
        padding: 0;
        /*margin: -21px;*/
        background-color: #4F78A4;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        position: relative;
        border-radius: 5px 5px 0 0;
        transition: .4s;
      }
      
	  </style>
</head>

<!-- 目標設定 表示ページ -->
<div class="center jumbotron" style="background-color: #FFFFFF; padding: 0px 20px;">
  <p id="notice"><%= notice %></p>

  <%= form_with(model: @goalData, url: line_send_message_path, local: true) do |form| %>
    <h1 class="goal-title">目標設定</h1>
    
    <div class="text-left">
      <%#= link_to '目標登録', goalset_edit_path, class: "btn ml-4 mb-3 btn-primary" %>
      <%#= link_to '目標登録', goalset_edit_path, remote: true, class: "btn mt-2 ml-4 mb-3 btn-sm btn-outline-primary" %>
      <%= link_to '目標登録', goalset_edit_path, remote: true, class: "btn mt-2 ml-4 mb-4 btn-outline-primary btn-sm" %>
      <%= link_to 'LINE連携', line_relation_path, class: "btn mt-2 ml-2 mb-4 btn-outline-primary btn-sm" %>
      <%= form.submit 'LINEメッセージ送信',class: "btn mt-2 ml-2 mb-4 btn-outline-primary btn-sm" %>
      <%#= link_to 'LINE送信', line_send_message_path, class: "btn mt-2 ml-2 mb-4 btn-outline-primary btn-sm" %>
    </div>
  
    <h2 class="set-goal text-left ml-4">ミッション</h2>
    <h3 class="text-left ml-5">指針となる考え・言葉</h3>
    <!--<h2 class="text-left ml-1">ミッション（テーマ・モットー・信条）</h2>-->
    <!--<h5 class="text-left ml-2">自分が行動する上で指針となる考え・言葉</h5>-->
    <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 95%">
      <!--<thead>-->
      <!--  <tr>-->
      <!--    <td colspan=2>  -->
      <!--    </td>-->
      <!--  </tr>-->
      <!--</thead>-->
      <tbody>
          <tr style="background-color: #FFFFCC;">
            <td class="text-left"><%= @goalData.mission %></td>
            <td class="text-left w-25">設定日：<%= @goalData.updated_at.strftime('%Y-%m-%d') if @goalData.updated_at.present? %></td>
          </tr>
          <tr>
            <%= code if code.present? %>
          </tr>
      </tbody>
    </table>
    
    <br></br>
    <hr>
    
    <h2 class="set-goal text-left ml-4">＜長期目標＞(5～10年後)</h2>
    <h3 class="text-left ml-5">達成予定日：<%= @goalData.l_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.l_goal_deadline_at.present? %></h3>
    <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 95%">
      <tbody>
          <tr style="background-color: #FFFFCC;">
            <td class="text-left"><%= @goalData.long_goal %></td>
            <td class="text-left w-25">設定日：<%= @goalData.updated_at.strftime('%Y-%m-%d') if @goalData.updated_at.present? %></td>
          </tr>
      </tbody>
    </table>
    
    <h2>↓</h2>
  
    <h2 class="set-goal text-left ml-4">＜中期目標＞(2～3年後)</h2>
    <h3 class="text-left ml-5">達成予定日：<%= @goalData.m_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.m_goal_deadline_at.present? %></h3>
    <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 95%">
      <tbody>
          <tr style="background-color: #FFFFCC;">
            <td class="text-left"><%= @goalData.middle_goal %></td>
            <td class="text-left w-25">設定日：<%= @goalData.updated_at.strftime('%Y-%m-%d') if @goalData.updated_at.present? %></td>
          </tr>
      </tbody>
    </table>
    
    <h2>↓</h2>
    
    <h2 class="set-goal text-left ml-4">＜短期目標＞(1年後)</h2>
    <h3 class="text-left ml-5">達成予定日：<%= @goalData.s_goal_deadline_at.strftime('%Y-%m-%d') if @goalData.s_goal_deadline_at.present? %></h3>
    <table class="table table-bordered table-condensed bg-white ml-auto mr-auto" style="width: 95%">
      <tbody>
          <tr style="background-color: #FFFFCC;">
            <td class="text-left"><%= @goalData.short_goal %></td>
            <td class="text-left w-25">設定日：<%= @goalData.updated_at.strftime('%Y-%m-%d') if @goalData.updated_at.present? %></td>
          </tr>
      </tbody>
    </table>
  <% end %>
  
  <br></br>
  <hr>
  <div style="padding: 20px 20px;">
   <h2>目標設定履歴</h2>
  </div>
</div>

<!--モーダルウインドウ表示-->
<div id="goalset-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>