<!-- ToDo登録ページ(パーシャル) -->
<%= form_with(model: todo, url: todolist_create_path, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field mb-1" style="padding-right: 0px;">
    <span class="mr-1"><%= form.label :ToDo %></span>
    <%= form.text_field :todo, class: "text-area-sm", id: :todo, size: "30" %>
  </div>
  
  <div class="field" style="padding-right: 67px;">
    <span class="mr-1"><%= form.label :日時 %></span>
    <%# if year == nil || month == nil || day == nil %>
    <%= form.datetime_field :start_date, id: :start_date %>
    <%# else %>
      <%#= form.datetime_select :start_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_start_date %>
    <%# end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-2" %>
  </div>
<% end %>