<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<style>
      .memo-title {
        color: white;
        padding: 0;
        margin: -21px;
        background-color: #4F78A4;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        position: relative;
        border-radius: 5px 5px 0 0;
        transition: .4s;
      }
      
      .title-custom {
        padding: 0.2em 0.5em;/*文字の上下 左右の余白*/
        color: #FFFFFF;/*文字色*/
        background: #4F78A4;/*背景色*/
        border-left: solid 5px #75A9FF; /*#7db4e6;左線*/
        border-bottom: solid 3px #d7d7d7;/*下線*/
      }
	  </style>
</head>

<!-- メモ帳 表示ページ -->
<div class="jumbotron-extend" style="background-color: #FFFFFF; margin-top: 15px; margin-left: 0px;">
  <!--<p id="notice"><%#= notice %></p>-->
  
  <h4 class=" title-custom">メモ帳</h4>

  <%= form_with(model: @memoData, url: memopad_delete_path, local: true) do |f| %>
    <div class="text-left">
      <%= link_to 'メモ追加', memopad_new_path, remote: true, class: "btn ml-4 mb-1 mt-2 btn-outline-primary rounded-pill btn-sm" %>
      <%= f.submit "メモ削除", class: "btn btn-outline-danger rounded-pill ml-2 mb-1 mt-2 btn-sm", data: { confirm: '「レ」チェックを入れたメモを削除してもよろしいですか？'} %>
    </div>
    
    <% @memoData.each do |memolist| %>
      <div class="center jumbotron border" style="background-color: #FFFFCC; margin: 10px; padding: 5px 0px 1px 0px;">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <% orderNo = memolist.orderno %>
              <div class="mt-3 ml-4 mr-3" style="float: left; transform: scale(2.0);">
                <%= check_box_tag :"del_chk#{orderNo}", true, false, {class: "bg-primary"} %>
              </div>
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse<%= memolist.orderno %>" style="display: block; text-decoration: none; color: black; text-align: left; padding: 5px 25px">
                  <div class="arrow1_1" style="float: right;"></div>
                  <div style="padding-top: 3px;">
                    <%= memolist.orderno %>.
                    <%= memolist.title %>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapse<%= memolist.orderno %>" class="panel-collapse collapse">
              <div class="panel-body text-left mt-3 mb-3">
                <!--<hr class="mr-3">-->
                <div class="jumbotron jumbotron-fluid border" style="background-color: #FFFFFF; margin: 25px; padding: 20px 20px;">
                  <h5><%= memolist.memo %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<!--モーダルウインドウ表示-->
<div id="memopad-new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
  $(document).ready(function(){
    $(".panel-title").on("click", function() {
      $(this).children().children(".arrow1_1").toggleClass("arrow2_1");
    });
  });
</script>