<div class="center jumbotron jumbotron-fluid" style="background-color: #FFFFCC; width: 350px; margin: auto; margin-top: 35px; padding: 3rem 2rem;">
  <h2 class="mb-5">スマートWeb手帳</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "パスワードを記憶する" %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>
</div>
