<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description, class: "w-50" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <% if year == nil || month == nil || day == nil %>
      <%= form.datetime_select :start_date, id: :event_start_date %>
    <% else %>
      <%= form.datetime_select :start_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_start_date %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <% if year == nil || month == nil || day == nil %>
      <%= form.datetime_select :end_date, id: :event_end_date %>
    <% else %>
      <%= form.datetime_select :end_date, {default: Date.new(year.to_i, month.to_i, day.to_i)}, id: :event_end_date %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
