<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-2" style="padding-right: 0px;">
    <%= form.label :スケジュール名 %>
    <%= form.text_field :title, class: "text-area-sm", id: :event_title, size: "39" %>
  </div>

  <div class="field form-group">
    <span style="vertical-align: top;"><%= form.label :スケジュール内容 %></span>
    <%= form.text_area :description, class: "text-area-sm", id: :event_description, size: "40x2" %>
  </div>

  <div class="field mb-1" style="padding-right: 0px;">
    <span class="mr-1"><%= form.label :開始日時 %></span>
    <% if year == nil || month == nil || day == nil %>
      <%= form.datetime_field :start_date, id: :event_start_date %>
    <% else %>
      <%= form.datetime_field :start_date, value: Date.new(year.to_i, month.to_i, day.to_i).strftime("%Y-%m-%dT00:00:00"), id: :event_start_date %>
      <!--{:use_month_numbers => true, default: Date.new(year.to_i, month.to_i, day.to_i)}-->
    <% end %>
  </div>

  <div class="field" style="padding-right: 0px;">
    <span class="mr-1"><%= form.label :終了日時 %></span>
    <% if year == nil || month == nil || day == nil %>
      <%= form.datetime_field :end_date, id: :event_end_date %>
    <% else %>
      <%= form.datetime_field :end_date, value: Date.new(year.to_i, month.to_i, day.to_i).strftime("%Y-%m-%dT00:00:00"), id: :event_end_date %>
    <% end %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
    <% if event.title != nil %>
      <%= link_to '削除', event, method: :delete, class: "btn ml-3 btn-danger align-left", data: { confirm: '予定を削除してもよろしいですか？' } %>
    <% end %>
  </div>
<% end %>
