<!-- LINE CALL BACK 表示ページ -->
<div class="center jumbotron" style="background-color: #FFFFFF; padding: 0px 20px;">
  <p id="notice"><%= notice %></p>

  <h1 class="goal-title">LINE CALL BACK</h1>

  <table class="table table-bordered table-condensed bg-white" style="width: 670px">
    <tbody>
        <tr style="background-color: #FFFFCC;">
          <td>認可コード</td>
          <td><%= params[:code] %></td>
        </tr>
        <tr style="background-color: #FFFFCC;">
          <td>アクセストークン</td>
          <td><%= @acsToken %></td>
        </tr>
        <tr style="background-color: #FFFFCC;">
          <td>アクセストークン(有効期限)</td>
          <td><%= @expIn %></td>
        </tr>
        <tr style="background-color: #FFFFCC;">
          <td>JSONウェブトークン(JWT)</td>
          <td><%= @idToken %></td>
        </tr>
        <tr style="background-color: #FFFFCC;">
          <td>付与権限</td>
          <td><%= @scope %></td>
        </tr>
    </tbody>
  </table>
  
  <br></br>
  <hr>
</div>