<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
                               <!--'admin/dashboard', media: 'all' %>-->
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
                               <!--'admin/dashboard' %>-->

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- 削除可-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!-- 削除可-->
    
    <%= render 'layouts/shim' %>
  </head>
  
  <!--<%# if user_signed_in? %>-->
  <!--  <body class="top2" data-turbolinks="false">-->
  <!--<%# else %>-->
  <body class="top" data-turbolinks="false">
  <!--<%# end %>-->
    <%= render 'layouts/header' %>

    
    <!-- ナビゲーションメニュー -->
    <!--<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-white mt-3 helvetica row">-->
    <!--  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">-->
    <!--    <span class="navbar-toggler-icon"></span>-->
    <!--  </button>-->
    <!--  <div class="collapse navbar-collapse" id="Navber">-->
    <!--    <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">-->
              <!-- スマホ用のメニュー部分 -->
    <!--          <%#= sidebar_list_items() %>-->
    <!--    </ul>-->
    <!--  </div><!-- /.navbar-collapse -->
    <!--</nav>-->

    <% if user_signed_in? %>
    <!-- ナビゲーションメニュー -->
    <!--<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light mt-3 helvetica row" id="navbar-list-menu">-->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-light" role="navigation" id="navbar-list-menu" style="background-color: powderblue;">
    <!--<nav class="navbar navbar-expand-lg">-->
      <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="#">ブランド</a>-->
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替" style="background-color: white;">
            <span class="navbar-toggler-icon"></span>
          </button>
        <!--</div>-->
        
        <div id="Navber" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <!--<ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">-->
             <!--スマホ用のメニュー部分 -->
            <%= sidebar_list_items() %>
          </ul>
        </div>
      <!--</div>-->
    </nav>


    <!-- サイドバーの表示 -->
    
      <div class="container-fluid">
        <div class="row">
          <!--<div class="col-sm-3 col-md-2 sidebar" style="background-color: powderblue;">-->
          <div class="col-sm-3 col-md-2 sidebar" style="background-color: powderblue; padding-bottom: 20000px; margin-bottom: -20000px;">
            <ul class="nav nav-sidebar">
              <!-- PC用のメニュー部分 -->
              <%= sidebar_list_items() %>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <% end %>
    
    <div class="container">
      <% if alert.presence %>
        <p></p>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= alert %>
        </div>
      <% elsif notice.presence %>
        <p></p>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <!--<%# flash.each do |message_type, msg| %>-->
      <!--  <div class="alert alert-<%#= message_type %>"><%#= msg %></div>-->
      <!--<%# end %>-->
      <%= yield %>
      <!--<div class="bg-white">-->
      <%= debug(params) if Rails.env.development? %>
      <!--</div>-->
    </div>
            
    <% if user_signed_in? %>
          </div>
        </div>  
      </div>
    <% end %>

  </body>
</html>