<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%#= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'layouts/shim' %>
  </head>
  
  <body class="top" data-turbolinks="false">
    <%= render 'layouts/header' %>

    <div class="container">
      <% if alert.presence %>
        <p></p>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= alert %>
        </div>
      <% elsif notice.presence %>
        <p></p>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <!--<%# flash.each do |message_type, msg| %>-->
      <!--  <div class="alert alert-<%#= message_type %>"><%#= msg %></div>-->
      <!--<%# end %>-->
      <%= yield %>
      <!--<div class="bg-white">-->
      <%= debug(params) if Rails.env.development? %>
      <!--</div>-->
    </div>

  </body>
</html>