<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%#= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>
  
  <body>
    <header class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #75A9FF;">
      <div class="container">
        <%= link_to "Kind Web Notebook", '#', id: "logo" %>
        <nav>
        <!--<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-white mt-3 helvetica row">-->
          <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
            <% if user_signed_in? %>
              <!--<li><strong><%= link_to current_user.username, pages_show_path %></strong></li>-->
              <li class="nav-item px-2"><strong><%= link_to 'プロフィール変更', edit_user_registration_path, class: "nav-link" %></strong></li>
              <li class="nav-item px-2"><strong><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %></strong></li>
            <% else %>
              <li class="nav-item px-2"><strong><%= link_to 'サインアップ', new_user_registration_path, class: "nav-link" %></strong></li>
              <li class="nav-item px-2"><strong><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></strong></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>